<h1 class="game-title">THE LONGEST WORD GAME</h1>
<div class="letter-container">
  <% @letters.each do |letter| %>
    <div class="letter"><%= letter %></div>
  <% end %>
</div>

<div class="container">
    <div class="title">
        <h1>Make a word from the letters above!</h1>
    </div>
    <form class="card__container" action="/score" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag :letters, @letters %>
      <%= hidden_field_tag :time, Time.now - @start_time %>
      <div class="card">
          <div class="row cardholder">
              <div class="info">
                  <label for="cardholdername">Word:</label>
                  <input type="text" name="word" placeholder="Make the longest word possible from the above letters" />
              </div>
          </div>
      </div>
      <div class="button">
          <button type="submit"> Submit your word</button>
      </div>
    </form>
</div>
