<h1 class="game-title">Your Score</h1>
<div class="letter-container">
  <% @letters.each do |letter| %>
    <div class="letter"><%= letter %></div>
  <% end %>
</div>

<div class="container">
  <div class="card-container">
    <div class="title">
        <h1>Score: <%= @message[0] %></h1>
        <h1><%= @message[1] %></h1>
        <div class="button">
          <%= link_to "Play Again", new_path %>
        </div>
    </div>
  </div>
</div>
